* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
	vertical-align: top;
	display: inline-block;
}
nav {
	vertical-align: top;
	display: inline-block;
}
#start {
	display: inline-block;
	margin-top: 54px;
	margin-left: 52px;
}
#main {
	display: inline-block;
	color: #4E6FAE;
	font-size: 26px;
	text-decoration: none;
	margin-top: 59px;
	margin-right: 87px;
	margin-left: 66px;
} 
.info {
	color: #8D81FF;
	font-size: 26px;
	text-decoration: none;
	margin-top: 59px;
	margin-right: 81px;
}
.digit {
	display: inline-block;
	font-size: 24px;
	color: #84FF81;
	background-color: #5012D5;
	margin-top: 44px;
	margin-left: 52px;
	padding: 12px;
}
.digit2 {
	margin-top: 155px;
}
.date {
	color: #8D81FF;
	margin-top: 18px;
	margin-bottom: 8px;
	margin-left: 52px;
	font-size: 24px;
	font-family: "BPG Nostalgia", sans-serif;
}
.head {
	margin-left: 52px;
	margin-bottom: 20px;
	margin-top: 14px;
	font-size: 20px;
	color: #4E6FAE;
	font-family: "BPG Square", sans-serif;
}
.post {
	width: 447px;
	height: 280px;
	margin-left: 52px;
}
#post1 {
	display: inline-block;
	color: #4E6FAE;
	width: 778px;
	height: 281px;
	margin-left: 66px;
	margin-right: 97px;
	font-size: 16px;
	vertical-align: top;
	font-family: "BPG Square", sans-serif;
}
#post2 {
	display: inline-block;
	width: 778px;
	height: 280px;
	margin-left: 66px;
	margin-right: 97px;
	color: #4E6FAE;
	vertical-align: top;
	font-size: 16px;
	font-family: "BPG Square", sans-serif;
}
#post3 {
	width: 1021px;
	height: 148px;
	color: #4E6FAE;
	margin-top: 32px;
	margin-left: 52px;
	margin-right: 367px;
	font-family: "BPG Square", sans-serif;
}
#img1 {
	width: 50px;
	height: 50px;
	margin-top: 143px;
	margin-left: 52px;
	margin-right: 41px;
	margin-bottom: 286px;
}
#img2 {
	width: 71px;
	height: 49px;
	margin-top: 145px;
	margin-bottom: 285px;
}
#line {
	display: inline-block;
	border: 2px solid #5012D5;
	height: 48px;
	margin-right: 41px;
	margin-top: 145px;
}