* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
	vertical-align: top;
	display: inline-block;
}
#start {
	display: inline-block;
	margin-top: 54px;
	margin-left: 52px;
}
#main {
	display: inline-block;
	color: #8D81FF;
	font-size: 26px;
	text-decoration: none;
	margin-top: 59px;
	margin-left: 66px;
} 

#news {
	display: inline-block;
	color: #8D81FF;
	font-size: 26px;
	text-decoration: none;
	margin-top: 59px;
	margin-left: 87px;
} 
#info {
	color: #4E6FAE;
	font-size: 26px;
	text-decoration: none;
	margin-top: 59px;
	margin-right: 81px;
	margin-left: 81px;
}
#contact {
	color: #4E6FAE;
	font-size: 36px;
	margin-top: 93px;
	margin-left: 162px;
	margin-bottom: 27px;
	margin-right: 40px;
}
.second {
	font-size: 20px;
	color: black;
}
#div {
	display: block;
	width: 1519,5px;
	height: 735px;
	background-color: #E7E7E7;
	margin-top: 31px;
	margin-bottom: 104px;
}
.first {
	margin-left: 162px;
	margin-bottom: 22px;
	margin-right: 1px;
	color: #7E8898;
	font-size: 20px;
}
iframe {

	margin: 93px 40px 93px 40px;
	width: 800px;
	height: 449px;
}
#img1 {
	width: 50px;
	height: 50px;
	margin-left: 96px;
	margin-bottom: 180px;
	margin-top: 104px;
}
#img2 {
	width: 71px;
	height: 49px;
	margin-top: 106px;
	margin-bottom: 179px;
}
#line {
	border: 2px solid #5012D5;
	margin: 106px 41px 180px 41px;
	height: 48px;
}